@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https: //fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.nav-cont {
    align-items: center;
    text-align: center;
    flex:auto;
}
.nav-item {
    font-size: 0.8rem;
    align-items: center;
    font-family: "Rubik Mono One", Helvetica, sans-serif;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-radius: 0.25rem;
    list-style: none;
    text-decoration: none;
    color:black;
    flex:auto;
    
}
.nav-item.active {
    background-color: #faf3e0;
    color: black;
    text-decoration: none;
}

.nav-item:not(.active):hover {
    background-color: #faf3e0;
    color: black;
    text-decoration: none;
}


.board-svg {
    display: block;
    width: 100%;          /* fill col-9 horizontally */
    height: auto;         /* keep correct aspect ratio */
    aspect-ratio: 4 / 3;  /* same as your image */
    margin: 0 auto;
}

.board2-svg {
    width: 100%;
    height: 400px;
    background-image: url('static/image folder/Banqi_Board.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red;
}

.board-fluid {
    position: relative;
}

.board-container {
    position: relative;
}

.board {
    position: relative;
    width: 100%;                /* Always fill col-9 horizontally */
    padding-top: 75%;           /* Sets aspect ratio (4:3 = 75%) */
    background-image: url("../image folder/Banqi_Board.png");
    background-size: contain;   /* Fit image inside div */
    background-repeat: no-repeat;
    background-position: center;
}

.board-img {
    display: block;         /* removes inline gap below img */
    width: 100%;            /* ensures full column width */
    height: auto;           /* keeps proportions */
    object-fit: contain;    /* ensures full image visible */
    border-radius: 0.5rem;  /* optional rounded edges */
    margin-top: 1rem;       /* optional top gap */
    -webkit-user-drag: none;
    user-select: none;
    z-index: 1;
    position: relative;
}

.piece {
    z-index: 3;
    position: absolute;
    width: 11.25%;     /* adjust to fit square size dynamically */
    height: auto;
    pointer-events: auto; /* allows drag/click later */
    border-radius: 50%;
    clip-path: circle(50%);
}

#board {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}