{% extends "base.html" %}
{% block content %}
<div>
    <div class="board-fluid">
        <div class="row player-a-turn" id="player-a-turn">
            <h4>Player A</h4>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="board-container">
                    <img src="{{ url_for('static', filename='image_folder/Banqi_Board.png') }}" alt="Banqi Board" class="img-fluid board-img" draggable="false">
                    <div id="board"></div>
                    <div id="game-state"></div>
                </div>
            </div>
            <div class="col-3" style="text-align:center;">
                <div><p> Move Number:</p></div>
                <div class="row">
                    <div class="col-2">
                        <div id="move-number"></div>
                    </div>
                    <div class="col-5">
                        <div id="move-notation-one"></div>
                    </div>
                    <div class="col-5">
                        <div id="move-notation-two"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row player-b-turn">
            <h4>Player B</h4>
        </div>
    </div>

</div>

<!-- 1. Load Socket.IO client library -->
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<!-- Include the game JS (put this file at static/js/game.js) -->
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
<script>init_board();</script><!--Initialise Board from game.js-->


{% endblock %}