{% extends "base.html" %}

{% block content %}
<div class="container py-4">
    <div class="row mb-4">
        <div class="col-12 col-md-12" style="align-items: center;">
            <h1 class="display-5">Watch Live Games:</h1>
            <div class="hero-cta btn-grid">
                <div class="cta-unit">
                    <a class="btn btn-warning btn-lg row">
                        <p style="text-align:center;">Game 1</p>
                        <p class="cta-description" style="text-align: center;">ABC vs DEF</p>
                    </a>
                </div>

                <div class="cta-unit">
                    <a class="btn btn-dark btn-lg row">
                        <p style="text-align:center;">Game 2</p>
                        <p class="cta-description" style="text-align: center;">EFG vs HIH</p>
                    </a>
                </div>
                

                <div class="cta-unit">
                    <a class="btn btn-dark btn-lg row">
                        <p style="text-align:center;">Game 3</p>
                        <p class="cta-description" style="text-align: center;">XYZ vs TAMPLITE</p>
                    </a>
                </div>

                <div class="cta-unit">
                    <a class="btn btn-warning btn-lg row">
                        <p style="text-align: center;">Game 4</p>
                        <p class="cta-description" style="text-align: center;">BAHAHAHAH vs erixero</p>
                    </a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}